---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Accordion from "@components/accordion/Accordion.astro";

const items = await getCollection("faqs");
---

<Layout title="Frontend Mentor - FAQ accordion challenge">
  <main>
    <Accordion
      accordionItems={items.map((i) => i.data)}
      title="FAQs"
      isFirstExpanded
    />
  </main>
</Layout>
